# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


.env
contracts/broadcast/SimpleMultipiler.s.sol/17000/run-1722742402.json
contracts/broadcast/SimpleMultipiler.s.sol/17000/run-1722742552.json
contracts/broadcast/SimpleMultipiler.s.sol/17000/run-latest.json
contracts/cache/solidity-files-cache.json
contracts/cache/test-failures
contracts/cache/SimpleMultipiler.s.sol/17000/run-1722742402.json
contracts/cache/SimpleMultipiler.s.sol/17000/run-1722742552.json
contracts/cache/SimpleMultipiler.s.sol/17000/run-latest.json
contracts/out/Base.sol/CommonBase.json
contracts/out/Base.sol/ScriptBase.json
contracts/out/Base.sol/TestBase.json
contracts/out/BasicTornado.sol/BasicTornado.json
contracts/out/Counter.s.sol/CounterScript.json
contracts/out/Counter.sol/Counter.json
contracts/out/Counter.t.sol/CounterTest.json
contracts/out/ERC6909.sol/ERC6909.json
contracts/out/IERC165.sol/IERC165.json
contracts/out/IERC20.sol/IERC20.json
contracts/out/IERC721.sol/IERC721.json
contracts/out/IERC721.sol/IERC721Enumerable.json
contracts/out/IERC721.sol/IERC721Metadata.json
contracts/out/IERC721.sol/IERC721TokenReceiver.json
contracts/out/IMulticall3.sol/IMulticall3.json
contracts/out/MockERC20.sol/MockERC20.json
contracts/out/MockERC721.sol/MockERC721.json
contracts/out/Script.sol/Script.json
contracts/out/SimpleMultipiler.s.sol/SimpleMultiplierScript.json
contracts/out/SimpleMultipiler.sol/IPlonkVerifier.json
contracts/out/SimpleMultipiler.sol/SimpleMultiplier.json
contracts/out/SimpleMultipiler.t.sol/SimpleMultiplierTest.json
contracts/out/SimpleTornado.t.sol/ZKFTokenTest.json
contracts/out/StdAssertions.sol/StdAssertions.json
contracts/out/StdChains.sol/StdChains.json
contracts/out/StdCheats.sol/StdCheats.json
contracts/out/StdCheats.sol/StdCheatsSafe.json
contracts/out/StdError.sol/stdError.json
contracts/out/StdInvariant.sol/StdInvariant.json
contracts/out/StdJson.sol/stdJson.json
contracts/out/StdMath.sol/stdMath.json
contracts/out/StdStorage.sol/stdStorage.json
contracts/out/StdStorage.sol/stdStorageSafe.json
contracts/out/StdStyle.sol/StdStyle.json
contracts/out/StdToml.sol/stdToml.json
contracts/out/StdUtils.sol/StdUtils.json
contracts/out/Test.sol/Test.json
contracts/out/Verifier.sol/PlonkVerifier.json
contracts/out/Vm.sol/Vm.json
contracts/out/Vm.sol/VmSafe.json
contracts/out/WithdrawVerifier.sol/PlonkVerifier.json
contracts/out/ZKFToken.sol/ZeroKnowledgeProof.json
contracts/out/ZKFToken.sol/ZKFToken.json
contracts/out/ZKFToken.t.sol/ZKFTokenTest.json
contracts/out/build-info/0c25665b48cc40a5dba59d533970a298.json
contracts/out/build-info/3aa862f91339284f424bbf6c33f757ce.json
contracts/out/build-info/3d533a7174768f54b2aaeadad3871b7d.json
contracts/out/build-info/3d601d3ccc2be0696a79a4dc4bdcb9a5.json
contracts/out/build-info/3de2628d15e112d127ec19fa02dd4956.json
contracts/out/build-info/4e308cbc86d53332e1425f32696473e9.json
contracts/out/build-info/5b54100a96654de68f2a9a9c135c129e.json
contracts/out/build-info/5c8949b70b66330a09af6d2133111bcd.json
contracts/out/build-info/5dea98ba814ae51f94fc3654c46a7a19.json
contracts/out/build-info/5e38cc423495b50e6e4437421789af06.json
contracts/out/build-info/5edca5dff935419edb583f0d0412a449.json
contracts/out/build-info/5f0e655f0164435dd2d6497c1ebe42cd.json
contracts/out/build-info/5f0560bd8cbb7a21ab464c34fdb5439e.json
contracts/out/build-info/5fc3c75d9039c1c93d856b5120f313a5.json
contracts/out/build-info/6bc3a8a4edff958fab6d3104ad9c0b5d.json
contracts/out/build-info/6bdb2e97f04344bb6b9c6a5f007527ec.json
contracts/out/build-info/6eef844289dfa61447dfb8dbb42e9399.json
contracts/out/build-info/8c92b3930c84a522bb96c28595221e0e.json
contracts/out/build-info/09b75e2c2c1c87ee7e6a4dd7cb551c99.json
contracts/out/build-info/14df7c75e189b633003534643c2b79a4.json
contracts/out/build-info/22f01503c304cf66de503fe7a9b4935d.json
contracts/out/build-info/36c9070becd0ac7df304d6e96a33a1e7.json
contracts/out/build-info/36df2e39782e577dc1cbd91fab12d778.json
contracts/out/build-info/037e5d276183368e2957ec330949667f.json
contracts/out/build-info/37fdfd39c54608b6f28700d59c4eef4f.json
contracts/out/build-info/53da2294a61ee0972bad154043830ec8.json
contracts/out/build-info/61beceb504b1ed3bea6bf0f3bd8c6693.json
contracts/out/build-info/66b9ed568dcaf5ceea319e382bf73cb7.json
contracts/out/build-info/68def31aee2d2afaaec4c0f28b2256ad.json
contracts/out/build-info/68e488cfa305996d706f2922e3669b2b.json
contracts/out/build-info/70a5d1a8142a7f64690426287b07ca96.json
contracts/out/build-info/75f6e040546816857fc50422e1d608b1.json
contracts/out/build-info/78a0ca332d96944ef096fbf69cf9cff8.json
contracts/out/build-info/330d8e533cb5c95defb09e56f36557a3.json
contracts/out/build-info/333b9213c85a57aade1f4496eb047ab9.json
contracts/out/build-info/687f5a23de83de8f491cbbdf31566467.json
contracts/out/build-info/741b7953796f74c886af48ac05b25d2a.json
contracts/out/build-info/750c2fc0a5515230c5d02982e1398697.json
contracts/out/build-info/754dd293d3a13958433a480caf4ec7a9.json
contracts/out/build-info/783ebeca2af86c21883dc187048a075c.json
contracts/out/build-info/989db08245f7418ef60b11e58285f1b3.json
contracts/out/build-info/997f85749307a358d7555984851c1dab.json
contracts/out/build-info/1412f009f77da632e5cc8d4886f51593.json
contracts/out/build-info/2890c29e70cb3293e28026dac67fe802.json
contracts/out/build-info/5844e74072a405ad75a95e1c437da674.json
contracts/out/build-info/16508b09c285e1a8338db1f2cf73ea79.json
contracts/out/build-info/30559ea5785519d54a0d088a15422735.json
contracts/out/build-info/36095c9d97dc3ccb1189db18dc8613af.json
contracts/out/build-info/057731f9e296b088d964c8ee8f2e97a4.json
contracts/out/build-info/83798cb5b632aae45b583739f3d6a5a9.json
contracts/out/build-info/091943cebc195b9a8bb4954d64e49741.json
contracts/out/build-info/314997d790e4b055a203428110ac17f9.json
contracts/out/build-info/761097bf5d579fb0fa16c7d2768859c9.json
contracts/out/build-info/2900418fdb4baec3e43649b3cfcf4377.json
contracts/out/build-info/7359282a385213e35ea4496c98bf16ce.json
contracts/out/build-info/20155106af9d878e3321757a143bf360.json
contracts/out/build-info/963407964d9eb06afc4e1a01252975ee.json
contracts/out/build-info/8272848140ce18c2f13b78acbc72533a.json
contracts/out/build-info/a2cca3425010ffb2c858bd01c25029be.json
contracts/out/build-info/a5b1dd544e9cc047db529c5011058594.json
contracts/out/build-info/abaccb558f9049c8341fc0b0c78cd138.json
contracts/out/build-info/abcbd9f039442bc77753159ee696305c.json
contracts/out/build-info/ad3d50fcbea46d408bc187a1e818fdac.json
contracts/out/build-info/aec5b3e70db19c621a564de780b3ffd6.json
contracts/out/build-info/afb2742eb7fd0959031f8514ade8e4d9.json
contracts/out/build-info/b1f20d22ea12a9b03b8acc93f11968c9.json
contracts/out/build-info/b3cda029cbdfd5fab01536006e1d9239.json
contracts/out/build-info/b859fb1b2ba848986b39eb6f8e53e4ba.json
contracts/out/build-info/b576905c5cc957232fd48bdf8157509f.json
contracts/out/build-info/bb2f47d5420e8c73f8bfff4b9bfb7d99.json
contracts/out/build-info/c7a1b74e8b14b4f8ba25a1acf9f1b655.json
contracts/out/build-info/c28371960033fc66af7a66e10a8620b9.json
contracts/out/build-info/cd1ebd92904d98aa5f774c3302082e24.json
contracts/out/build-info/ce74bcd349806a6bbfd48d5f4dbb3df3.json
contracts/out/build-info/cfb568a5a66d1f21c7d384e168d3b306.json
contracts/out/build-info/d5b586bec7f154a2eb5d8a1595b2b3f4.json
contracts/out/build-info/d7ec08aaa558e60b4b6e9ff7a3fd4acf.json
contracts/out/build-info/d9a536cf6929f517a6a6922d928cc7ed.json
contracts/out/build-info/d98cf046eba8b8f1fbde2c3e3686aaac.json
contracts/out/build-info/e888c32c978126609d74a9567252638b.json
contracts/out/build-info/e83355ebdf44cc0b24bf5b31c4a01d0e.json
contracts/out/build-info/e181856d92e13c39aafc724e61188a30.json
contracts/out/build-info/ea48cfa36ee78fefdd48a9559e09c27f.json
contracts/out/build-info/ecea801ebc816e44af04ffc84be95bef.json
contracts/out/build-info/f166bc10ed5685c11d15da6b961b2600.json
contracts/out/build-info/f7482c53a065875f92f8e0cba9517ebd.json
contracts/out/build-info/f89013fb6da8518febb6e8234a3170a8.json
contracts/out/build-info/ff66f43d8aca6f4841c2541c744dc5b8.json
contracts/out/console.sol/console.json
contracts/out/safeconsole.sol/safeconsole.json
